
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('assets/fonts/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('assets/fonts/Ubuntu-Bold.ttf') format('truetype');
}

* {
    font-family: Ubuntu-Medium;
    color: #2b2b2b;
    /* line-height:1cm; */
}

form {
    display: flex;
    flex-direction: column;
}

/* form > div:nth-child(1){
    order: 1;
}
form > div:nth-child(2){
    order: 2;
}
form > div:nth-child(3){
    order: 3;
}
form > div:nth-child(4){
    order: 4;
} */


.form-container {
    margin-top: 10%;
    margin-bottom: 10%;
    background: #ffffff;
    padding: 15px;
    width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 10px;
    position: relative;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 120px;
    margin-right: 7%;
    position: fixed;
    bottom: 120px;
    right: 188px;
}

.btn-prev {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 37%;
    position: fixed;
    bottom: 130px;
    right: 170px;
    color: #b8b8c2;
}

    .btn-prev:hover {
        color: #132845;
    }

.btn-confirm {
    color: white;
    background-color: #473dff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 120px;
    margin-right: 7%;
    position: fixed;
    bottom: 120px;
    right: 188px;
}


form {
    width: 90%;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.font-color {
    font-family: 'Ubuntu-Bold';
    color: #f7faff;
}

.f-color {
    font-family: Ubuntu-Medium;
    color: #f7faff;
    font-size: 80%;
    opacity: 0.5;
}

.num-color {
    font-family: 'Ubuntu-Bold';
    color: #052757;
}

.num-colors {
    font-family: 'Ubuntu-Bold';
    color: #f7faff;
}

.rounded-div {
    width: 35px;
    height: 31px;
    background-color: #bfe1ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rounded-divs {
    width: 35px;
    height: 31px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box-step2 {
    width: 70%;
    height: 100%;
    border: 1px solid #cecece;
    border-radius: 10px;
    cursor: pointer;
}



/*Toggle Switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 26px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #032859;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #032859;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.page {
    display: block;
}

.hidden {
    display: none !important;
}

.add-box {
    border: 2px solid #cecece;
    border-radius: 10px;
    cursor: pointer;
}


.text-addons {
    font-family: 'Ubuntu-Bold';
    color: #052757;
    font-size: large;
}

.text-finish {
    font-family: Ubuntu-Bold;
    color: #052757;
}


.selected {
    border: 1px solid #585099;
    border-radius: 10px;
    cursor: pointer;
}
